body{
    padding: 80px 0 0 0;
    background: #eee;
}
ul li{
    list-style: none;
}

nav .btn{
    margin-left: 10px;
}
.tags-icon{
    font-size: 1.5rem;
    color: #666;
}
.tags-hold{
   padding-left: 0;
}
.task-icon{
    margin: 3px 0 0 5px;
    font-size: 1.5rem;
    color: #666666;
}
.label.label-default{
    color: #000;
    background: #eee;
}
.task-icon.del:hover{
    color: #ce4844;
    font-size: 1.7rem;
}
.task-icon.archive:hover{
    color: #1b809e;
    font-size: 1.6rem;
}
.panel-heading{
    font-weight: bold;
}
@media screen and (min-width: 1px) and (max-width: 767px){
    #grid[data-columns]::before {
        content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #grid[data-columns]::before {
        content: '3 .col-sm-4';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #grid[data-columns]::before {
        content: '4 .col-md-3';
    }
}