html{
    height: 100%;
}
body{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    border-bottom: 1px solid transparent;
    font-family: 'roboo',"arial";
    padding: 20px 0 0 0;
    background: rgba(232, 232,232, 1);
}
ul li{
    list-style: none;
}
nav .btn{
    margin-left: 10px;
}
.tags-icon{
    font-size: 1.5rem;
    color: #666;
}
.tags-hold{
   padding-left: 0;
}

.del{
	position: absolute;
	background: white;
	padding: 7px;
	border-radius: 50%;
    margin: 3px 0 0 5px;
    font-size: 0.9rem;
    color: #666666;
	right: 3px;
	top: -12px;
	display: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	animation: fade-in .7s;
}
.label.label-default{
    color: #000;
    background: #eee;
}
.panel:hover .task-icon{
	display: block;
}
.panel{
	cursor: pointer;
	animation: slide-out 0.7s;
}
.panel-heading{
    font-weight: bold;
}
.panel-body{
	padding: 0px 15px;
}
.panel-default > .panel-heading, .panel-footer{
	background-color: transparent;
}
.form-pad{
    background: #fff;
    padding: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#focus-note, #newNoteTitle, #newNoteContent{
    padding: 5px;
    border: none;
    box-shadow: none;
    font-size: 1.2em;
}
#newNoteContent{
    color: rgba(0,0,0,0.5);
}
input#focus-note:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}
#submit-note{
    border: none;
    padding: 3px 10px;
    border-radius: none;
    margin: 7px 5px 5px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#submit-note:hover{
    background-color: rgba(0,0,0,0.15);
    border-radius: 1px;
}
#newNoteTitle{
    font-weight: bold;
}
.hidden{
    display: none;
}

@keyframes fade-in{
	0%{
		opacity: 0;
	},
	100%{
		opacity: 1;
	}
}
@keyframes slide-out{
	0%{
        transform: scale(0);
    }
    100% {
        transform:  scale(1);
    }
}

/*Salvatore Styling
@media screen and (min-width: 1px) and (max-width: 389px){
    #grid[data-columns]::before {
        content: '1 .col-xs-12';
    }
}
@media screen and (min-width: 400px) and (max-width: 767px){
    #grid[data-columns]::before {
        content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #grid[data-columns]::before {
        content: '4 .col-md-3';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #grid[data-columns]::before {
        content: '4 .col-md-3';
    }
}
*/
