<h4>Archive</h4>
<div id="grid" data-columns>
    <div data-id={{noteId}} class="panel panel-default">
            <div class="panel-heading">
                {{noteTitle}} 
                <a href="" id="del-note"><i class="task-icon del pull-right glyphicon glyphicon-remove-circle"></i></a>
                <a href="" id="archive-note"><i class="task-icon archive pull-right glyphicon glyphicon-inbox"></i></a>
            </div>            
            <div class="panel-body">
                {{noteContent}}
            </div>
            <div class="panel-footer clearfix">
                <div class="tags-hold">
                    {{noteTags}}
                </div>
                <div class="pull-right">
                    <span class="label label-default">{{noteTimeStamp}}</span>
                </div>
            </div>
        </div>
    
    <div data-id={{noteId}} class="panel panel-default">
            <div class="panel-heading">
                {{noteTitle}} 
                <a href="" id="del-note"><i class="task-icon del pull-right glyphicon glyphicon-remove-circle"></i></a>
                <a href="" id="archive-note"><i class="task-icon archive pull-right glyphicon glyphicon-inbox"></i></a>
            </div>            
            <div class="panel-body">
                {{noteContent}}
            </div>
            <div class="panel-footer clearfix">
                <div class="tags-hold">
                    {{noteTags}}
                </div>
                <div class="pull-right">
                    <span class="label label-default">{{noteTimeStamp}}</span>
                </div>
            </div>
        </div>
    
    <div data-id={{noteId}} class="panel panel-default">
            <div class="panel-heading">
                {{noteTitle}} 
                <a href="" id="del-note"><i class="task-icon del pull-right glyphicon glyphicon-remove-circle"></i></a>
                <a href="" id="archive-note"><i class="task-icon archive pull-right glyphicon glyphicon-inbox"></i></a>
            </div>            
            <div class="panel-body">
                {{noteContent}}
            </div>
            <div class="panel-footer clearfix">
                <div class="tags-hold">
                    {{noteTags}}
                </div>
                <div class="pull-right">
                    <span class="label label-default">{{noteTimeStamp}}</span>
                </div>
            </div>
        </div>
</div>